*{
    margin: none;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 30px 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}
.navbar li{
    list-style: none;

}
.navbar .menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.navbar .menu a{
    text-decoration: none;
    color: #000000;
    margin: 346px 34px;
}
/* Shared styles */
.btn{
     border: #000000;
     padding: 16.5px 16px;
     border:1px solid #000000;
     background-color:#30B868;
     color: #FFFFFF;
     border: none;
     border-radius: 4px;
     font-weight: semi-bold;
}
.button .btn2{
    border:1px solid #FFFFFF;
    padding: 16.5px 16.5px;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: semi-bold;
}
#hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    height: 500px;
    color: #FFFFFF;
}
.hero-content span{
    color: #30B868;
}

.badge .dot{
    border-radius: 1000px;
    max-width: 229px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
#notes .notes-heading{
    max-width: 1360px;
    /* background-color: aqua; */
    margin: 0 auto;
    margin: 0px 120px;
    text-align: center;
}
.card-container {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    gap: 16px;
    
}

.card-container .card{
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}
.second-brain .main-div{
    display: flex;
}
.second-brain .main-div{
    margin: 120px;
    background-color: aqua;
    max-width: 1360px;
    gap: 60px;
}
.second-brain .main-div .structure li{
    list-style-type:none;
}
.second-brain .main-div .second-brain-image{
    width: 600px;
}
.early-access .early-access-container{
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
    margin:0px 120px 120x 120px;
    /* background-color: black; */
    
}
.early-access .early-access-container span{
    color: #637382;
    font-size: 16px;
}

