*{
    margin: none;
}
body{
    margin: 0;
    padding: 0;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 30px 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}
.navbar li{
    list-style: none;

}
.navbar .menu{
    display: flex;
    gap: 32px;
    align-items: center;
}
.navbar .menu a{
    text-decoration: none;
    color: #000000;
    margin: 346px 34px;
}
/* Shared styles */
 .button {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.btn{
     border: #000000;
     padding: 16.5px 16px;
     border:1px solid #000000;
     background-color:#30B868;
     color: #FFFFFF;
     border: none;
     border-radius: 4px;
     font-weight: semi-bold;
}
.button .btn2{
    border:1px solid #FFFFFF;
    padding: 16.5px 16.5px;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: semi-bold;
}
.button .btn,
.button .btn2 {
    display: flex;
    align-items: center;
    gap: 8px;
}

#hero{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;
    height: 500px;
    color: #FFFFFF;
}
.hero-content span{
    color: #30B868;
}

.badge .dot{
    border-radius: 1000px;
    max-width: 229px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 5px;
}
#notes .notes-heading{
    max-width: 1360px;
    /* background-color: aqua; */
    margin: 0 auto;
    margin: 0px 120px;
    text-align: center;
}
#notes .notes-heading p{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #637382;
}
.card-container {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
    gap: 16px;
    
}

.card-container .card{
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}
.card-container .card img {
    width: 35px;
    height: 35px;
    padding-top: 69.5px;
    background-color: #FF4444;
    border-radius: 50%;
    padding: 12px;
    margin: 0 auto ;
    display: block;
}
.card-container .card p {
    padding: 16px;
    color: #637382;
    font-size: 14px;
    text-align: center;
}
.card-container .card h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.second-brain .main-div{
    display: flex;
}
.second-brain .main-div{
    margin: 120px;
    /* background-color: aqua; */
    max-width: 1360px;
    gap: 60px;
}
 .second-brain .structure ul {
    list-style: none;
    padding: 0;
}

.second-brain .structure li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #001931;
}

.second-brain .main-div .second-brain-image{
    width: 600px;
}
.early-access .early-access-container{
    max-width: 1160px;
    margin: 0 auto;
    text-align: center;
    margin:0px 120px 120x 120px;
    /* background-color: black; */
    
}
.early-access .early-access-container span{
    color: #637382;
    font-size: 16px;
}

footer{
    max-width: 1360px;
    background-color: rgba(0, 25, 49, 1);
    margin: 0 auto;
}
footer .main-footer{
    display:flex;
    justify-content: space-between;
    /* background-color: aqua; */
    padding: 10px;
    margin: 120px 100px;
    padding-top: 120px;
}
footer .footer-links li{
    list-style: none;
    
}
footer .footer-links img {
    list-style: none;
    width: 20px;
    height: 20px;
    
}
footer .footer-links ul{
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}
footer .footer-links p{
   color: rgba(255, 255, 255, 1);
}
footer .footer-copyright{
    color: rgba(250, 250, 250, 1);
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 30px;
}
footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 40px 100px;
    
}

